src/main/mule/SpaceSips.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="SpaceSips-main">
		<http:listener doc:name="Listener" doc:id="c6fb587f-c529-4401-9d21-5509833174f5" config-ref="HTTP_Listener_config" path="*">
			<http:response statusCode="#[vars.httpStatus default 500]" />
		</http:listener>
		<apikit:router config-ref="SpaceSips-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5ee788f0-c2ec-4c68-8346-df839fd4e131">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="48b5cfa1-dc44-40f8-a041-d35ad5446478">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="92ef1300-8df9-4887-97d8-2f4a78bc729a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d89895e3-597d-4c9f-bc8a-ff86aee18e5d">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f3884a7c-6a52-4370-ab28-f94d67bf1dbb">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="23be44d5-ecd1-4b54-9f2d-7c7375e8b841">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="SpaceSips-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="SpaceSips-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0a9a2164-0903-417f-98cb-1b2998cd16c8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\ships\(idShip)\members\(idMember):application\json:SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="fd800aa4-7a76-4b32-a44a-eb1b23d2acf3" name="putMember"/>
    </flow>
    <flow name="put:\ships\(idShip):application\json:SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="3f863d3c-5e3b-4154-a593-1b7436bd0a4c" name="putShip"/>
    </flow>
    <flow name="delete:\ships\(idShip):SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="d58207f3-d012-4961-a9ed-c7ec3b9d0990" name="deleteShip"/>
    </flow>
    <flow name="delete:\ships\(idShip)\members\(idMember):SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="e8f27625-aecd-48c9-b2ae-a4301ca02c74" name="deleteMember"/>
    </flow>
    <flow name="get:\ships:SpaceSips-config">
        <flow-ref doc:name="Flow Ref - getAllShipsFlow" doc:id="2982df1f-4fcd-4534-9de0-e5f094f16524" name="getAllShipsFlow"/>
    </flow>
    <flow name="get:\ships\(idShip):SpaceSips-config">
		<flow-ref doc:name="Flow Reference - getShipByIDFlow" doc:id="a71c4c6b-b774-449d-80bb-920c05131ec1" name="getShipByIDFlow"/>
    </flow>
    <flow name="get:\ships\(idShip)\members:SpaceSips-config">
		<flow-ref doc:name="Flow Ref - getMembersFlow" doc:id="e8efd6ea-1381-4207-aec3-bdc37d305326" name="getMembersFlow"/>
    </flow>
    <flow name="post:\ships\(idShip)\members:application\json:SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="788ee442-4731-47d2-86ea-91f390601121" name="postMember"/>
    </flow>
    <flow name="post:\ships:application\json:SpaceSips-config">
		<flow-ref doc:name="Flow Reference" doc:id="b35afa38-d2bc-47ee-aa27-447b4f5076ac" name="postShip"/>
    </flow>
</mule>
